security:
    providers:
        app_user_provider:
            id: App\Security\UserProvider
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        DOC:
            pattern: ^/api/doc
            security: false
        api:
            pattern: ^/api
            anonymous: lazy
            provider: app_user_provider
            guard:
                authenticators:
                    - App\Security\TokenAuthenticator

    access_control:
         - { path: ^/api, roles: ROLE_USER }
